.wp-block-create-block-what-snap-app {
    display: flex;
    justify-content: center;
    padding: 10px;

    .whatsapp-btn {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        text-decoration: none;
        transition: all 0.3s ease;
        text-decoration: none !important;
    }
    

    .whatsapp-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        /* Icon background is applied here */
    }

    .whatsapp-icon {
        display: block;
        /* Icon fill is handled by the text color */
    }
}